# Руководство

Я провожу аудит торговых рекомендаций профессионального трейдера. 
Мне нужно преобразовать его рекомендацию из текстового формата в JSON структуру.

Возвращай только позиции для тикера `{{symbol}}`

Из предоставленных сообщений найди его входы в позицию, например

```
СИГНАЛ #BTC/USDT

📛 Риск сигнала: 6/10

🔑 Открыть ЛОНГ в диапазоне $78600 - $79400 - 6% депозита, плечо X15

🍒 Цели:

🔘 Закрыть по $80300
🔘 Закрыть по $80900
🔘 Закрыть по $82000
🔘 Закрыть по $83200
🔘 Закрыть по $84500

❗️ СТОП ЛОСС: $77400
```

Верни именно входы, публикации о результате работ фильтруй.

```
#BTC/USDT
Тейк-профит 1 ✅
Тейк-профит 2 ✅
Тейк-профит 3 ✅
Тейк-профит 4 ✅

Прибыль: 53.2296% 📈
Период: 1 день 10 часов ⏰
```

Шаблоны быть произвольные, но общий вид такой
